Codificador-ejb/src/conf/xml-resources/web-service-references/TimbradoService/wsdl/pruebas.sefactura.com.mx_3014/sefacturapac/TimbradoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sefactura.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sefactura.com" name="TimbradoServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://sefactura.com" schemaLocation="http://pruebas.sefactura.com.mx:3014/sefacturapac/TimbradoService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="cancelacion">
<part name="parameters" element="tns:cancelacion"></part>
</message>
<message name="cancelacionResponse">
<part name="parameters" element="tns:cancelacionResponse"></part>
</message>
<message name="timbrado">
<part name="parameters" element="tns:timbrado"></part>
</message>
<message name="timbradoResponse">
<part name="parameters" element="tns:timbradoResponse"></part>
</message>
<message name="cancelacionAcuse">
<part name="parameters" element="tns:cancelacionAcuse"></part>
</message>
<message name="cancelacionAcuseResponse">
<part name="parameters" element="tns:cancelacionAcuseResponse"></part>
</message>
<message name="cancelacionAcuseXml">
<part name="parameters" element="tns:cancelacionAcuseXml"></part>
</message>
<message name="cancelacionAcuseXmlResponse">
<part name="parameters" element="tns:cancelacionAcuseXmlResponse"></part>
</message>
<message name="pideConfirmacion">
<part name="parameters" element="tns:pideConfirmacion"></part>
</message>
<message name="pideConfirmacionResponse">
<part name="parameters" element="tns:pideConfirmacionResponse"></part>
</message>
<portType name="TimbradoService">
<operation name="cancelacion">
<input message="tns:cancelacion"></input>
<output message="tns:cancelacionResponse"></output>
</operation>
<operation name="timbrado">
<input message="tns:timbrado"></input>
<output message="tns:timbradoResponse"></output>
</operation>
<operation name="cancelacionAcuse">
<input message="tns:cancelacionAcuse"></input>
<output message="tns:cancelacionAcuseResponse"></output>
</operation>
<operation name="cancelacionAcuseXml">
<input message="tns:cancelacionAcuseXml"></input>
<output message="tns:cancelacionAcuseXmlResponse"></output>
</operation>
<operation name="pideConfirmacion">
<input message="tns:pideConfirmacion"></input>
<output message="tns:pideConfirmacionResponse"></output>
</operation>
</portType>
<binding name="TimbradoServicePortBinding" type="tns:TimbradoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="cancelacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="timbrado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelacionAcuse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelacionAcuseXml">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pideConfirmacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="TimbradoServiceService">
<port name="TimbradoServicePort" binding="tns:TimbradoServicePortBinding">
<soap:address location="http://pruebas.sefactura.com.mx:3014/sefacturapac/TimbradoService"></soap:address>
</port>
</service>
</definitions>